body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
.container {
  max-width: 1128px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.gallery-item {
  flex-basis: calc(33.333% - 10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.03);
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
